.Trade .btn-ref {
  background-color: #ffc700;
  color: #4e4e4e;
}

.Trade .buy-sell-tab {
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  padding: 3px 5px;
}

.Trade .buy-sell-tab .nav-item.show .nav-link,
.Trade .buy-sell-tab .nav-link.active {
  background-color: #0059ff !important;
  color: #fff !important;
  border-bottom: 0 !important;
}

.Trade .buy-sell-tab .nav-link {
  padding: 7px 30px !important;
  border-radius: 6px;
}
.Trade .btn-ref-my-modal {
  background-color: #ccccee;
}

.Trade .text-light-gray {
  color: #6f6f6f;
}

.Trade .text-black {
  color: #000000 !important;
}

.Trade .my-input {
  background-color: transparent;
  cursor: pointer;
}

.Trade .text-light-blue {
  color: #00b1cf;
}

.Trade .btn-outline-limited {
  border: 1px solid #787878;
  color: #000000;
  background-color: #ececec;
}

.Trade .my-circle {
  color: #3b3b3b !important;
}

/*--------NEW CSS--------*/

.trd-sub-txt {
  font-size: 12px;
}
.trd-avl {
  font-size: 16px;
  font-weight: 500;
}
.pd-txt {
  font-size: 20px;
  font-weight: 600;
}
.txt-avls {
  font-size: 16px;
}
.tr-ft {
  padding: 10px 0 10px 7px !important;
}

.tooltip-bank-transfer .tooltip-inner {
  background-color: #f1f1ff;
  border: 1px solid #707075;
  opacity: 1 !important;
  color: #000;
}

.tooltip-bank-transfer.bs-tooltip-bottom .arrow::before,
.tooltip-bank-transfer.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #f1f1ff;
}

.scroll-area-sm {
  height: 275px;
  overflow-x: hidden;
}
.pay-menus .dropdown-menu {
  width: 100% !important;
  min-width: 0 !important;
}

.md-head {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
}
.md-dt-txt {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}
.btn-cans {
  background-color: #ccccee;
  color: #000000;
}

.crypt {
  padding-left: 7px;
}
.new_buy_btc {
  background-color: #0059ff !important;
  color: #fff !important;
  width: 100px;
  border: none;
  /* font-weight: bold; */
  font-size: 14px;
  height: 40px;
  border-radius: 7px;
}
.descr-title {
  font-size: 12px;
  color: #888888;
}
